<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download1518.mediafire.com/uqha2k6vm9jg8UhPRdyEs8wnIr6boGeCKsjy6X6d-xnSq9HMPWHv2FcQEo-Pe8KkSs9oefVUD1kMZ4dhMta-qQGERokWSKok2ODUXigOH81b-zu3sEhUXHvcg_DC1eMAl0rV8hP5f8j0F3kmFgRbvyM7SgtGC05CCtFrnl_OYw/pru9b2ow7oyzc4k/Among+Us+_2023.7.13_1694758015.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.innersloth.amongus</string>
                <key>bundle-version</key>
                <string>2023.7.13</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Among Us</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
